@using Lab_4.ViewModels.Faculties
@using Lab_4.ViewModels
@model PaginationViewModel<Faculty, FacultiesFilterViewModel, FacultiesSortViewModel>
@addTagHelper *, Lab_4
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" class="mt-1">
    <label class="form-inline">Название: </label>
    <input class="form-control" name="name" value="@Model.FilterViewModel.Name" />

    <input type="submit" value="Фильтр" class="btn btn-primary mt-2" />
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-name="@(Model.FilterViewModel.Name)">
                @Html.DisplayNameFor(model => model.Items.First().FacultyName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("JuniorAdmin")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.FacultyId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.FacultyId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.FacultyId">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.Name)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>