@using Lab_4.ViewModels.ApplicantCertificates
@using Lab_4.ViewModels
@model PaginationViewModel<ApplicantCertificate, ApplicantCertificatesFilterViewModel, ApplicantCertificatesSortViewModel>
@addTagHelper *, Lab_4

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" class="mt-1">
    <label class="form-inline mt-1">Абитуриент: </label>
    <select class="form-control" name="applicantId" asp-items="Model.FilterViewModel.Applicants"></select>

    <label class="form-inline">Балл: </label>
    <input class="form-control" name="grade" value="@Model.FilterViewModel.Grade" />

    <input type="submit" value="Фильтр" class="btn btn-primary mt-2" />
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.GradeSort)"
                   asp-route-grade="@(Model.FilterViewModel.Grade)"
                   asp-route-applicantId="@(Model.FilterViewModel.ApplicantId)">
                @Html.DisplayNameFor(model => model.Items.First().Grade)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.ApplicantSort)"
                   asp-route-grade="@(Model.FilterViewModel.Grade)"
                   asp-route-applicantId="@(Model.FilterViewModel.ApplicantId)">
                @Html.DisplayNameFor(model => model.Items.First().Applicant)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
            <tr>
                <td>
                  
                        @Html.DisplayFor(modelItem => item.Grade)
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant.Name)
            </td>
            <td>
                    @if (User.IsInRole("MainAdmin") || User.IsInRole("JuniorAdmin") || User.IsInRole("AdmissionOfficer"))
                {
                        <a asp-action="Edit" asp-route-id="@item.CertificateId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CertificateId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CertificateId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-grade="@(Model.FilterViewModel.Grade)"
           page-url-applicantId="@(Model.FilterViewModel.ApplicantId)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
