@model Lab_4.Applicant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Middlename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidentialAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentialAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForeignLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForeignLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationInstitution.InstitutionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parents.Parent1Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
