@using Lab_4.ViewModels.AdmissionsPlans
@using Lab_4.ViewModels
@model PaginationViewModel<AdmissionPlan, AdmissionPlansFilterViewModel, AdmissionsPlansSortViewModel>
@addTagHelper *, Lab_4

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" class="mt-1">
    <label class="form-inline mt-1">Специальность: </label>
    <select class="form-control" name="specialityId" asp-items="Model.FilterViewModel.Specialities"></select>

    <input type="submit" value="Фильтр" class="btn btn-primary mt-2" />
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.YearSort)"
                   asp-route-specialityId="@(Model.FilterViewModel.SpecialityId)">
                @Html.DisplayNameFor(model => model.Items.First().Year)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.SeatsSort)"
                   asp-route-specialityId="@(Model.FilterViewModel.SpecialityId)">
                @Html.DisplayNameFor(model => model.Items.First().NumberOfSeats)</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.SpecialitySort)"
                   asp-route-specialityId="@(Model.FilterViewModel.SpecialityId)">
                @Html.DisplayNameFor(model => model.Items.First().Specialty)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.SpecialtyName)
            </td>
            <td>
                    @if (User.IsInRole("MainAdmin") || User.IsInRole("JuniorAdmin") || User.IsInRole("AdmissionOfficer"))
                {
                        <a asp-action="Edit" asp-route-id="@item.AdmissionPlanId">Edit</a>
                    
                    <a asp-action = "Details" asp-route-id = "@item.AdmissionPlanId" > Details </a > 
                    <a asp-action = "Delete" asp-route-id = "@item.AdmissionPlanId" > Delete </a >
                    }
            </td>
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-specialityId="@(Model.FilterViewModel.SpecialityId)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
